body
{
	margin:0px 0px 0px 0px;
	padding: 0;
}
.header
{
	width:100%;
	float:left;
	background-color:;
}
.slider
{
	width:100%;
	float:left;
}
.service
{
	width:100%;
	float:left;
}
.feature
{
	width:100%;
	float:left;
}
.con
{
	width:100%;
	float:left;
}
.price
{
	width:100%;
	float:left;
}
.con1
{
	width:100%;
	float:left;
}
.content
{
	width:100%;
	float:left;
}
.count
{
	width:100%;
	float:left;
}
.blog
{
	width:100%;
	float:left;	
}
.footer
{
	width:100%;
	float:left;
}